<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Document</title>
</head>
<body>
    <h1>Upload new Document</h1>
    <form action = "http://localhost:5000/upload_doc" method = "POST" 
         enctype = "multipart/form-data">
         <label for="file">
            Upload Your Transaction 
            <input type = "file" name = "file" />
         </label>
         
         <input type = "submit" value="Upload"/>
         
      </form>
</body>
</html>